<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">

    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>

</head>
<body>
    <h2>회원 가입을 환영합니다 ^_^</h2>
    <form action="" th:action th:object="${member}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <label for="loginId">Login ID</label>
            <input type="text" id="loginId" th:field="*{userId}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{userId}" />
    <!--        중복 체크 필요 -->
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>
        <div>
            <label for="userName">UserName</label>
            <input type="text" id="userName" th:field="*{userName}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{userName}" />
    <!--        <input type="email" placeholder="pls input email">-->
    <!--        <input type="text" placeholder="pls input name">-->
        </div>
        <div>
                <button type="submit">회원 가입</button>
        </div>
    </form>
    <div>
        <button th:onclick="|location.href='@{/}'|">취소</button>
    </div>
</body>
</html>