<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">

    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>

</head>
<body>
    <h2>회원 가입을 환영합니다 ^_^</h2>
    <form action="" th:action th:object="${member}" method="post">

        <label for="loginId">Login ID</label>
        <input type="text" id="loginId" th:field="*{userId}" th:errorclass="field-error">
<!--        중복 체크 필요 -->
        <label for="password">Password</label>
        <input type="password" id="password" th:field="*{password}" th:errorclass="field-error">

        <label for="userName">UserName</label>
        <input type="text" id="userName" th:field="*{userName}" th:errorclass="field-error">
<!--        <input type="email" placeholder="pls input email">-->
<!--        <input type="text" placeholder="pls input name">-->
        <div>
            <div>
                <button type="submit">Join</button>
                <button th:onclick="|location.href='@{/}'|">Cancel</button>
            </div>
        </div>
    </form>
</body>
</html>