<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MoonShop</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
  <h2>어서오세요 MoonShop 입니다 ^_^</h2>

    <div>
        <button onclick="location.href='members/login.html'"
                th:onclick="|location.href='@{/login}'|" type="button">
            Login
        </button>
        <button onclick="location.href='members/join.html'"
            th:onclick="|location.href='@{members/join}'|" type="button">
            Join
        </button>
    </div>
</body>
</html>